nav {
    width: 100%;
    background-color: var(--color-dark-1);
}

.navLayout {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.navAccount, .navOutlet, .navDate, .navMessage, .navNotification {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: var(--color-light-3);
    background-color: var(--color-dark-2);
    font-family: var(--font-inter);
    border-left: 1px solid var(--color-dark-3);
}

/* Account Section */
.AccountProfile img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.AccountInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AccountInfo h1 {
    font-size: 16px;
    font-weight: 600;
}

.AccountInfo h2 {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray-1);
}

.AccountDropdown {
    display: flex;
    align-items: center;
}

/* Outlet Section */
.navOutlet .OutletInfo h1 {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 500;
}

/* Date Section */
.navDate {
    flex-direction: column;
    align-items: normal;
    font-family: var(--font-inter);
    gap: 4px;
}

.navDate h1 {
    font-size: 16px;
    font-weight: 400;
}

.navDate h2 {
    font-size: 20px;
    font-weight: 600;
}

/* Message and Notification Section */
.navMessage, .navNotification {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}