@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* Colors */
  --color-dark-1: #161618;
  --color-dark-2: #212124;
  --color-dark-3: #282B2F;
  --color-dark-4: #2D2D2D;
  --color-dark-5: #323232;
  --color-gray-1: #707070;
  --color-gray-2: #C4D0D6;
  --color-light-1: #E4E4E4;
  --color-light-2: #EEEEEE;
  --color-light-3: #FFFFFF;

  /* Accent Colors */
  --color-accent-primary: #F1B600;
  --color-accent-secondary: #F6C326;
  --color-green-active: #0BBE1F;
  --color-green-inactive: #ACD6B1;
  --color-red-active: #DC0F0F;
  --color-red-inactive: #E27979;
}