aside {
    height: 100%;
    width: 350px;
    background-color: var(--color-dark-1);
}

.sideLayout {
    display: flex;
    flex-direction: column;
}

.sideLogo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 16px 24px;
    align-items: center;
    font-family: var(--font-inter);
    color: var(--color-light-2);
}

.LogoImage img {
    width: 50px;
    height: 50px;
}